#storelocatorpage {
    position: relative;
    min-height: 100vh;
}

#storelocatorpage .findthestore {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    flex-direction: column;
    margin-bottom: 30px;
}

#storelocatorpage .findthestore h3 {
    text-align: center;
    padding: 5px 20px;
}

#storelocatorpage .citystoredetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#storelocatorpage .select2dropdownwidth {
    display: inline-block;
    padding: 10px;
    width: 350px;
    max-width: 350px;
}

#storelocatorpage .centeralign {
    text-align: center;
    text-transform: uppercase;
}

/* Select 2 CSS */
.select2-container {
    /* max-width: 30px !important; */
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #939393;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

.select2-results__option {
    padding: 8px 10px;
    user-select: none;
    -webkit-user-select: none;
    font-size: 13px;
    border-bottom: 1px solid #DADADA;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: black;
}

/* End of Select 2 CSS  */
#storelocatorpage .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#storelocatorpage .loader .preloader {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#storelocatorpage .storesdetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

#storelocatorpage .storedetails {
    width: 100%;
    padding: 20px;
    background-color: #f3f3f3;
    margin: 0 10px 3px 10px;
}

#storelocatorpage .storedetails h3,
#storelocatorpage .storecontent h3{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #232323;
    padding: 0;
    text-align: left;
}

#storelocatorpage .storedetails h5,
#storelocatorpage .storecontent h5 {
    font-size: 13px;
    text-transform: uppercase;
    color: #232323;
    margin-bottom: 5px;
}

#storelocatorpage .storedetails p,
#storelocatorpage .storecontent p{
    font-size: 12px;
    color: #232323;
    margin-bottom: 20px;
}
#storelocatorpage .paginationlinks {
    margin-top: 20px;
    text-align: center;
}

#storelocatorpage .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#storelocatorpage .pagination li {}

#storelocatorpage .pagination li a {
    color: black;
    padding: 10px;
}

#storelocatorpage .page-item.disabled .page-link {
    background-color: #DFDFDF;
    color: white;
    padding: 10px;
}

#storelocatorpage .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    padding: 10px;
    background-color: #000;
    border-color: #000;
}
#storelocatorpage .storecontentgallery{
    display: block;
    padding: 10px;
}
#storelocatorpage .storecontentgallery h1{
    margin-bottom: 25px;
}
#storelocatorpage .storecontentgallery div{
    width: 100%;
}
#storelocatorpage .storecontentgallery span.storedata{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#storelocatorpage .storecontentgallery span.storedata b{
    width: 165px;
    text-transform: uppercase;
}
#storelocatorpage .storecontentgallery span.storedata i{
    width: 100%;
    font-style: normal;
}
#storelocatorpage a.moredetails {
    cursor: pointer;
    background-color: black;
    font-size: 12px;
    padding: 5px 8px;
    color: white;
    font-weight: 600;
    position: relative;
    transition: all 500ms ease-in-out;
}
#storelocatorpage a.moredetails b {
    position: relative;
    transition: all 500ms ease-in-out;
}
#storelocatorpage a.moredetails::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e9e9e9;
    transition: transform 500ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}

#storelocatorpage a.moredetails:hover b {
    color: black;
}

#storelocatorpage a.moredetails:hover:before {
    transition: transform 500ms ease-in-out;
    transform: scaleX(1);
    transform-origin: left;
}
.google_map #map{
    width: 100%;
    height: 625px;
}
.storegallery{
    margin-bottom: 20px;
}
.storegallery img{
    width: 100%;
    /* height: 350px; */
}
.otherstoresamecity{
    margin-top: 50px;
}
.otherstoresamecity h3{
    text-align: center;
}
/* for Desktop */
@media only screen and (min-width: 1024px) {
    #storelocatorpage .citystoredetails {
        flex-direction: row;
    }

    #storelocatorpage .storedetails {
        width: 29%;
        padding: 20px;
        margin: 0 2px 2px 0;
    }
    #storelocatorpage .storecontentgallery{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    #storelocatorpage .storecontentgallery .storecontent {
        width: 35%;
    }
    #storelocatorpage .storecontentgallery .google_map {
        width: 64%;
    }
    .google_map #map{
        height: 425px;
    }
}
.mobile_image{
    display: none
}
.desktop_image{
    display: block
}
@media only screen and (max-width:768px){
    .mobile_image{
        display: block;
    }
    .desktop_image{
        display: none
    }
}
.banner_div {
    padding: 0px 0px 30px;
}
.storeImg{
    max-width: 100%;
    margin-bottom: 25px;
    width: 100%;
}
.detailviews h1{
    text-align: left;
    font-size: 22px;
}
.container{
        margin: 0 auto;
    max-width: 1140px;
    width: 90%;
        width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

/*@media (min-width: 1200px){
    .container{
    max-width: 1140px;
}
}

@media (min-width: 992px){
    .container{
    max-width: 960px;
}
}

@media (min-width: 768px){
    .container{
    max-width: 720px;
}
}

@media (min-width: 576px){
   .container{
    max-width: 540px;
} 
}*/
body {
    font-family: DM Sans,sans-serif;
    direction: ltr;
    font-size: 16px;
    color: #000;
    line-height: 26px;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
        overflow: auto;
    -webkit-font-smoothing: antialiased;
}
.page-header h2{
    text-align: center;
    font-size: 30px;
}

.pagination li{
    list-style-type: none;
}
.head-line h3{
    font-size: 60px;
}